#messagetoolbar a#settings{background-image:URL(./images/settings_button.png) !important;background-repeat:no-repeat;background-position:0 -6px !important;}
/*
#rcmrowgeneral{display:none;}
*/
#mailboxlist li.mailbox.pop3fetcher > a {background-position: 6px -1555px;}

@supports (-ms-ime-align: auto) {
   /* Microsoft EdgeV13&14 CSS styles go here */
   .propform .form-control { width: auto; }
   .propform .form-control.custom-select { width: 100%; }
}

@supports (-ms-accelerator: true) {
    /* Microsoft EdgeV13 CSS styles go here */
   .propform .form-control { width: auto; }
   .propform .form-control.custom-select { width: 100%; }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10 & IE11 CSS styles go here */
   .propform .form-control { width: auto; }
   .propform .form-control.custom-select { width: 100%; }
}
